<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <form action="#">ENTER YOUR FIRST NAME
        <input type="text",name="username", placeholder="username">
    </form><br>
    <form action="#">ENTER YOUR LAST NAME
        <input type="text",name="username", placeholder="username">
    </form><br>
    <form action="">
        <label for="GENDER">MALE</label>
        <input type="checkbox">
        <label for="GENDER">FEMALE</label>
        <input type="checkbox">
    </form><br>
    <form action="">
        <label for="EMPID">ENTER EMPLOYEE ID :</label>
        <input type="number",placeholder="EMPLOYEE ID">
    </form><br>
    <form action="">
        <label for="DESG">ENTER DESIGNATION :</label>
        <input type="text",placeholder="DESIGNATION">
    </form><br>
    <form action="">
        <label for="PHONE NUMBER">ENTER EMPLOYEE PHONE NUMBER :</label>
        <input type="number",placeholder="NUMBER">
    </form><br>
    <button>SUBMIT</button>
</body>
</html>